*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family:"Poppins",sans-serif;
}
.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 12%;
    z-index: 10;

}
.navbar_netflix{
    height: 100%;
    width: 140px;
}
.navbar_nav_items{
    display: flex;
    gap: 25px;
}
.netflix_logo{
    width: 100%;
    height: 100%;
}
.language_drop_down{
    background: transparent;
    border: none;
    outline: none;
    color: white;
}
.dropdown_container{
    outline: 0.5px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background:rgba(0, 0, 0, 0.4);
}
.signin_button{
    background-color: #dc030f;
    border: #dc030f 1px solid;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    font-weight: 600;
}
.hero_container{
    width: 100%;
    height: 100%;
}
button:hover{
    background-color: #a9030b;
    border-color: #a9030b;
}
.hero_image{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    object-fit: cover;
    
}
.hero_overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    inset: 0;
    position: absolute;
   

}
.hero_card{
    text-align: center;
    position: absolute;
    top: 35%;
    left: 18%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h1{
    font-weight: 900;
    font-size: 3rem;
    
}
h2{
    font-weight: 100;
}
p{
    font-size: 1.3rem;
}

.enter_email{
    width: 400px;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.6% 1.2%;
    border: 1px white solid;
    color: white;
    font-size: 1.1rem;
    border-radius: 3px;
    margin-right: 2px;
    
}
::placeholder{
    color: white;
    filter: brightness(60%);
}
.get_started_btn{
    background-color: #dc030f;
    border: #dc030f 1px solid;
    color: white;
    
    border-radius: 4px;
    font-weight: 530;
    font-size: 1.5rem;
    padding: 1.2%;
    margin-left: 2px;
}
.card_one{
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 60px 160px;
    border-width: 6px 0px 3px 0px;
    border-color: rgb(51, 50, 50);
    border-style: solid;


}
.desc1{
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card_two{
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 60px 160px;
    border-width: 3px 0px;
    border-color: rgb(51, 50, 50);
    border-style: solid;

}
.desc2{
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card_three{
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 60px 160px;
    border-width: 3px 0px;
    border-color: rgb(51, 50, 50);
    border-style: solid;

}
.desc3{
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card_four{
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 60px 160px;
    border-width: 3px 0px;
    border-color: rgb(51, 50, 50);
    border-style: solid;

}
.desc4{
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.lastsection{
   text-align: center; 
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 50px;
   border-width: 3px 0px 6px 0px;
    border-color: rgb(51, 50, 50);
    border-style: solid;
}

